<div class="content">
    <div class="mt-4">
        <div class="row">
            {{#each news}}
            <div class="col-sm-6 col-lg-4">
                <div class="card">
                    <a href="news/{{ this.slug }}"><img src="{{ this.image }}" class="card-img-top"
                            alt="{{ this.title }}"></a>

                    <div class="card-body">
                        <a href="news/{{ this.slug }}">
                            <h5 class="card-title">{{ this.title }}</h5>
                        </a>
                        <p class="card-text">{{ this.content }}</p>
                        <a href="news/{{ this.slug }}" class="btn btn-primary">Chi tiêt...</a>
                    </div>
                </div>

                <div class="card" aria-hidden="true">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title placeholder-glow">
                            <span class="placeholder col-6"></span>
                        </h5>
                        <p class="card-text placeholder-glow">
                            <span class="placeholder col-7"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-6"></span>
                            <span class="placeholder col-8"></span>
                        </p>
                        <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>